
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(5, 12, 43, 0.664);

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 15px 0;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar nav ul li a:hover {
  color: #e0f7fa;
  transform: scale(1.05);
}

.download{
    background-color: rgb(0, 66, 3) ;
    border: solid 2px white;
    border-radius: 30px;
    padding: 10px 5px;
    font: bold;
    margin-top: 5xp;
}